#
# HTTPD Web Server and Apache Tomcat(ajp) Connector
# the configuration of the server.
#
# Required modules: mod_jk (for the ajp handler),

# 1.
# Load Module jk_module
<IfModule !mod_jk.c>
        LoadModule jk_module {{ selected_web.server_home }}/modules/mod_jk.so
</IfModule>

# 2.
# jk_module Global configuration of the server
<IfModule mod_jk.c>
    JkWorkersFile {{ selected_web.server_home }}/conf.d/workers.properties

    JkLogFile "|{{ selected_web.server_home }}/sbin/rotatelogs {{ log_path }}/jk-log/jk.log.%Y%m%d 86400 +540"
#  JkLogLevel debug
    JkLogLevel error
    JkLogStampFormat "[%Y %a %b %d %H:%M:%S]"
    JKRequestLogFormat " [%w:%R] [%V] [%U] [%s] [%T]"
    JkOptions +ForwardKeySize +ForwardURICompatUnparsed -ForwardDirectories

#  JkMountFile conf.d/uriworkermap.properties
    JkShmFile {{ log_path }}/jk-log/mod-jk.shm
</IfModule>
