# HTTPD Web Server and Apache Tomcat(ajp) Connector
#
# Include workers.properties by conf/extra/httpd-modjk.conf
worker.list=jkstatus,loadbalancer

# configuration template #########
##################################
worker.template.lbfactor=1
worker.template.type=ajp13
worker.template.ping_mode=A
worker.template.reply_timeout=300000
worker.template.socket_connect_timeout=60000
worker.template.socket_keepalive=true

{% for group in groups.all %}{% if hostvars[group].instances is defined %}{% for instance in hostvars[group].instances %}  
# configuration {{ hostvars[group].ansible_host }} = {{ instance.server_name }}
worker.{{ instance.server_name }}.reference=worker.template
worker.{{ instance.server_name }}.host={{ hostvars[group].ansible_host }}
worker.{{ instance.server_name }}.port={{ (8009+instance.port_offset)|int }}  
{% endfor %}{% endif %}{% endfor %} 

#
# configuration loadbalancer
worker.loadbalancer.type=lb
worker.loadbalancer.method=Session
worker.loadbalancer.sticky_session=true
worker.loadbalancer.balance_workers={% for group in groups.all  %}{% if hostvars[group].instances is defined %}{% for instance in hostvars[group].instances  %}{{ instance.server_name }},{% endfor %}{% endif %}{% endfor %} 

worker.jkstatus.type=status

